<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<h1 style="text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;"  id="changecol">Data Passing</h1>
<button type="button" class="btn btn-primary" (click)="child.change()">Blue</button>
<button type="button" class="btn btn-dark" (click)="child.rechange()">Black</button>
<br>
<br>    
<div>
    <input class="form-control" id="modify" type="text" [(ngModel)]="firstName">
<ul>
    <li><h4>Data passing through Input</h4><span><app-show [C1Data]="firstName"></app-show></span>
</li>


<li><h4>{{tittle}}</h4>
<h4>Data passing through local variable</h4>
<p> current count is <b>{{child.Curcount}}</b>  </p>
<p> Total count is <b>{{child.Totalcount}}</b>  </p>
<p id="p1"></p>
<button type="button"  class="btn btn-success" (click)="child.increment()">Increment</button>
<button type="button"  class="btn btn-danger" (click)="child.decrement()">Decrement</button>
<p id="p2"></p>


<app-miss #child></app-miss> </li>

<li><h4>Data passing from child to parent using output and event emitter</h4></li>
<app-hide (childMsg)="message=$event" (bolValue)="value=$event"></app-hide>
<br>
<div *ngIf="value">{{message}}</div>
</ul>
</div>


